<p>about works!</p>

<div>
    <a routerLink="teste">Caminho Relativo</a>
</div>

<div>
    <a routerLink="/teste">Caminho Absoluto</a>
</div>

<div>
    <a [routerLink]="['/clients', 1]">Redirect Clients com Id</a>
</div>

<div>
    <button (click)="redirectToClientsWithId()">Redirect Clients com Id</button>
</div>

<div>
    <button (click)="redirectToClientsWithObj()">Redirect Clients com Objeto</button>
</div>

<div>
    <a routerLink="/clients" [fragment]="'editMode'">Redirect Clients com Fragmento</a>
</div>

<div>
    <button (click)="redirectToClientsWithFragment()">Redirect Clients com Fragmento</button>
</div>

<div>
    <a routerLink="/clients" [queryParams]="{ id: 1, name: 'Felipe' }">Redirect Clients com Query Params</a>
</div>

<div>
    <button (click)="redirectToClientsWithQueryParams()">Redirect Clients com Query Params</button>
</div>