<div class="menu__container">
  <div class="menu__item">
    <a class="menu__item__link" routerLink="/" routerLinkActive="menu__item__link--active" [routerLinkActiveOptions]="{ exact: true }">Início</a>
  </div>
  <div class="menu__item">
    <a class="menu__item__link" routerLink="/clients" routerLinkActive="menu__item__link--active">Clientes</a>
  </div>
  <div class="menu__item">
    <a class="menu__item__link" routerLink="/about" routerLinkActive="menu__item__link--active">Sobre</a>
  </div>
</div>

<router-outlet></router-outlet>